* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	grid-template-rows: 0.1fr 1fr 0.1fr;
	height: 100vh;
	font-family: system-ui;
}

/******************************** HEADER ********************************/

header {
	background-color: #b16100;
	font-family: system-ui;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header button {
	margin-right: 2rem;
	padding: 0.5rem 1rem;
	width: fit-content;
	margin-left: 1rem;
}

header div {
	display: flex;
	align-items: center;
}

header div h1 {
	color: #fff;
	font-size: 18px;
}

header p {
	color: greenyellow;
}

/******************************** MAIN ********************************/

main {
	display: flex;
	flex-direction: column;
	background-color: #ff8c00;
	margin: auto;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

main form {
	display: flex;
}

.section1 {
	background-color: #ffd6a4;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	border-radius: 0.5rem;

}

.section-form {
	display: flex;
	flex-direction: column;
}

.form-fila {
	display: grid;
	grid-template-columns: 0.6fr 1fr;
	padding: 0.2rem;
}

.form-select {
	width: 150px;
}

.form-precio {
	display: flex;
}

.form-textarea {
	width: fit-content;
}

#tipo {
	gap: 1rem;
}

fieldset {
	all: unset;
}

#botonInsertarCerveza {
	width: 20%;
}

.botonActualizar,
.botonCancelar {

	width: 20%;
	height: 25px;
	margin: auto;
	margin-top: 1rem;
}

.titulos-form-insertar-cerveza {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2rem;
}

input,
select,
input[type='date'],
select,
label {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1rem;
}

.denominacion {
	width: 200px;
}

.error {
	color: red;
	font-size: 14px;
	margin-top: 5px;
}

/******************************** FOOTER ********************************/

footer {
	background-color: #b16100;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer p {
	color: #ffffff;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
}