<!-- 
• Crear un componente articulo. 
• Crear en el componente artículo crear una lista con 3 artículos.
• En la vista incluiremos un formulario con los campos: nombre, precio y unidades. Tendrá un botón Comprar. 
• Debajo del formulario veremos la lista de artículos que tenemos ( nombre, precio y unidades)
	más el artículo nuevo que hemos introducido en el formulario: para ello dentro del método, crear
	un objeto literal con los campos y valores que se han insertado en el formulario. 
• Nos vamos a crear esta vez una interfaz artículo en una carpeta app/model/articulo.model.ts con
	los 3 atributos que necesitamos almacenar. 

•	En el listado de artículo mostrar el índice de cada registro.
-->
<main>
  <h1>app-root</h1>
</main>

<app-articulo></app-articulo>
