* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

#contenedor {
  background-color: blue;
  display: flex;
  width: 400px;
  height: 400px;
}

#caja1 {
  background-color: red;
  width: 180px;
  height: 40px;
}

#caja2 {
  background-color: green;
  width: 180px;
  height: 40px;
}

#caja3 {
  background-color: orange;
  width: 180px;
  height: 40px;
}
