@font-face {
    font-family: robototo;
    src: url(../assets/fonts/RobotoCondensed-VariableFont_wght.ttf) format('truetype');
}

* {
    box-sizing: border-box;
    font-family: robototo;
}

body {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    display: flex;
    background-color: #f1f1f1;
    width: 76.125rem;
    height: 31.75rem;
}

.izquierda,
.derecha {
    width: 50%;
    height: 100%;
}

.izquierda {
    display: flex;
    flex-direction: column;
    padding-left: 3.4rem;
    padding-right: 1rem;
}

.izquierda h1,
.derecha h1 {
    margin-top: 2.6rem;
    font-size: 2.5rem;
    margin-bottom: 0.2rem;
}

.izquierda p,
.derecha p {
    margin: 0 0 1.9rem 0;
    font-size: 1.2rem;
}

.label1 {
    font-size: 0.8rem;
}

form {
    display: flex;
    flex-direction: column;
}

.input-correo {
    margin-top: 0.5rem;
    margin-bottom: 0.9rem;
    outline: none;
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.7rem;
    border: 1px solid black;
}

.label-contraseña {
    font-size: 0.8rem;
    font-weight: bold;
}

.input-contraseña {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    outline: none;
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.7rem;
    border: 1px solid black;
    background-image: url(../assets/svg/eye-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-origin: content-box;
}

.olvidado-contrasena {
    margin-left: auto;
}

.final-input {
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.boton-iniciarsesion {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0.7rem 1rem 0.7rem 1rem;
    border: 1px solid;
    border-radius: 2rem;
    width: 9rem;
    margin: auto;
    font-size: 1.2rem;
    font-weight: bold;
}

fieldset {
    padding: 2rem 1rem 0 1rem;
    background-color: white;
    border-radius: 1rem;
    border: none;
    margin-bottom: 1rem;
}

.div-derecha-blanco {
    display: flex;
    flex-direction: column;    
    background-color: white;
    border-radius: 1rem;
}



