* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;  
}

.noDecoration {
  list-style: none;  
}

.padding {
  padding: 1em;
}

#listaNav li {
  margin: 1em;
  padding: 0.5em;
  background-color: red;
  border-radius: 0.5em;
}
nav {
  background-color: blue;
}

ul {
  background-color: green;
}
