@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/opensans/static/OpenSans-Regular.woff) format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/opensans/static/OpenSans-Bold.woff) format('woff');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/opensans/static/OpenSans-Italic.woff) format('woff');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/opensans/static/OpenSans-BoldItalic.woff) format('woff');
  font-style: italic;
  font-weight: bold;
}

