* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Open Sans', monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

body {

    background-color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: darkred;
    height: 5em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {    
    max-width: 30em;    
}

section p,
li,
h2 {
    color: #00ee00;    
}

section hr {
    border: 0.1em solid #00ee00;
    border-radius: 0.1em;
    margin: 0.4em 0 0 0;
}

section ol {
    margin: 1em 0 0 2em;
}

article {        
    margin-top: 0.5em;
    padding: 0.5em 1em 1em 1em;    
}

footer {
    background-color: darkolivegreen;
    margin-top: auto;
    padding: 1em;
    text-align: center;
}

footer p {
    color: darkred;
    font-style: italic;
}



.article1 {
    border: 0.1em solid #002f00;
    border-radius: 0.5em;
    /*background-color: #002f00; */
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5em;
}

.botones button {
    width: 49%;
    height: 5em;
    border: 0.1em solid #002f00;
    background-color: #000000;
    border-radius: 0.5em;
    cursor: pointer;
}

#enviar:hover {

    background-color: #00ee00;
    color: #000000;
    box-shadow: 0 0 0.2em #00ee00;
    
}

#reiniciar:hover {
    background-color: #ee0000;
    color: #000000;
    box-shadow: 0 0 0.2em #ee0000;
    
}

#salida {
    height: 15em;
    border: 0.1em solid #002f00;
    border-radius: 0.5em;
    padding: 1em;
    color: #00ee00;
}

#input {
    border: 0.1em solid #002f00;
    background-color: #000000;
    border-radius: 0.5em;
    width: 100%;
    height: 3.5em;
    margin-top: 0.5em;
    padding: 1em;
}



