* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "EnterCommand";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #6f653d;
    font-size: 2rem;
    line-height: 1.65rem;
    color: #6f653d;
}

.enunciado {
    background-color: #090110;
    border: 0.4em solid #3d3e32;
    padding: 1rem;
}

.enunciado-hr {
    border: 0.1rem solid #6f653d;
    margin-top: 0.2rem;
}

.enunciado-ol {
    margin: 1rem 0 0 2.5rem;
    font-size: 2rem;
}

.enunciado-p {
    margin: 1rem 0 0 0;
    padding: 0;
}

.pantalla {
    background-color: #6f653d;
    margin-top: 1rem;
    border: 0.3rem solid #090110;
    width: 25rem;
    height: 25rem;
    padding: 1rem;
    color: #090110;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25rem;
}

.botones-enviar,
.botones-reiniciar {
    font-family: "EnterCommand";
    font-size: 2rem;
    background-color: #3d3e32;
    color: #090110;
    font-weight: bold;
    margin-top: 0.25rem;
    border: 0.2rem solid #090110;
    width: 49.5%;
    height: 3rem;
    cursor: pointer;
}

.botones-enviar:hover,
.botones-reiniciar:hover,
.botonModo:hover {
    background-color: #1a1e25;
    color: #6f653d;
}

.botonModo {
    width: 25rem;
    height: 3rem;
    margin-top: 0.25rem;
    background-color: #3d3e32;
    border: 0.2rem solid #090110;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.dark-mode {
    background-color: #090110;
    color: #090110;
    .enunciado {
        background-color: #6f653d;
    }
    .pantalla {
        border:0.3rem solid #3d3e32;
        background-color: #090110;
        color: #6f653d;
    }
}