/********************************************************************************************/
/********************************* TEMPLATE PARA EJERCICIOS *********************************/
/********************************************************************************************/

body {

    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    margin: 0;
    background-color: #1a1e25;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightslategrey;
    z-index: 0;

}

header {

    text-align: center;
    display: flex;
    justify-content: center;
    color: #a8b1ff;
    border: 1px solid black;

}

footer {

    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a8b1ff;
    border-top: 1px solid black;
    text-align: center;

}

/********************************************************************************************/
/******************************* CONTENERDOR/BARRAS SPECTRUM ********************************/
/********************************************************************************************/

:root {

    --ancho-barras-spectrum: 11px;

}

.contenedor-spectrum {

    display: flex;
    position: absolute;
    background-color: #1a1e25;
    width: fit-content;
    height: 130px;
    left: 94vw;
    top: -24px;
    transform: rotate(25deg);
    overflow: hidden;

}

.contenedor-spectrum div:first-child {

    width: var(--ancho-barras-spectrum);
    height: 130px;
    background-color: #ff0000;

}

.contenedor-spectrum div:nth-child(2) {

    width: var(--ancho-barras-spectrum);
    height: 125px;
    background-color: #ffff00;

}

.contenedor-spectrum div:nth-child(3) {

    width: var(--ancho-barras-spectrum);
    height: 120px;
    background-color: #00ff00;

}

.contenedor-spectrum div:nth-child(4) {

    width: var(--ancho-barras-spectrum);
    height: 115px;
    background-color: #00ffff;

}

/********************************************************************************************/
/******************************* EJERCICIOS/ESTILOS NO FIJOS ********************************/
/********************************************************************************************/

section {

    display: flex;
    background-color: #ffffff;
    width: 64.6%;
    height: 77.8%;
    color: #49423a;
}

section article {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 40%;
    background-color: #3ad985;

}

section article div {

    margin-left: 50px;

}

section article p:first-child {

    margin-bottom: 0rem;
    margin-top: 6.4rem;
    margin-left: 1.56rem;
    width: 230px;
    color: white;
    font-weight: 700;
    font-size: 32px;

}

section article p:nth-child(2) {

    font-size: 15px;
    margin-bottom: 1.3rem;
    margin-left: 1.56rem;
    width: 15.93rem;
    color: white;

}

section article p:last-child {

    font-size: 15px;
    margin-left: 1.56rem;
    width: 15.93rem;
    color: white;

}

section article p:first-child span {

    color: #fff301;

}

section form {

    display: flex;
    flex-direction: column;
    width: 36.1%;
    margin-top: 6.39%;
    margin-left: 6.2%;

}

section form input {

    outline: none;
    border: none;
    border-bottom: 1px solid #939393;
    background-color: #ffffff;
    padding-bottom: 1%;

}

section form input::placeholder {

    font-size: 16px;
    letter-spacing: 0.5px;

}

section form :nth-child(2) a {

    color: #574940;
    font-weight: bold;
    font-size: 14.8px;

}

section form :nth-child(2) {

    margin-top: 2.2%;
    font-size: 15px;
    margin-bottom: 12.5%;

}

section form :nth-child(3) {

    position: relative;
    display: inline-block;
    background-image: url(../assets/eye-password.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: -3px;

}

section form :nth-child(4) {

    color: #574940;
    font-size: 14.8px;
    margin-top: 2.5%;
    margin-bottom: 9%;

}

section form :nth-child(4) a {

    font-weight: bold;
    color: #574940;
    margin-top: 1.9%;
    margin-bottom: 9%;

}

section form :nth-child(5) {

    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 2rem;
    height: 10.6%;
    color: #ffffff;
    background-color: #4aa375;
    margin-bottom: 10.7%;
}

section form p:nth-child(6) {

    font-weight: bold;
    letter-spacing: 0.1px;
    font-size: 15px;
    margin-bottom: 7.5%;

}

section form button:nth-child(7) {

    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 2rem;
    height: 10.6%;
    color: #000000;
    background-color: #f5f5f5;
    margin-bottom: 3.8%;

}

section form button:nth-child(8) {

    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 2rem;
    height: 10.6%;
    color: #000000;
    background-color: #f5f5f5;

}

/********************************************************************************************/
/**************************************** RESPONSIVE ****************************************/
/********************************************************************************************/

@media (max-width: 465px) {}