<!-- 
 Crear  un  componente  hijo:  listado-personas. Desde  el  componente  principal, llamamos  al
componente hijo tantas veces como personas haya en el array pasándole la “persona” El
componente hijo, listará nombre, apellidos y edad. Además: 
Si la persona es menor de edad, se muestre un mensaje ”Menor de edad” en color rojo. En caso
contrario, mostrar el mensaje: “Mayor de edad”
-->
<main>
  <h1>Padre - approot</h1>
  <app-listado-personas (selected)="persona1($event)"></app-listado-personas>
  <app-listado-personas (selected)="persona2($event)"></app-listado-personas>
  <app-listado-personas (selected)="persona3($event)"></app-listado-personas>
  <app-listado-personas (selected)="persona4($event)"></app-listado-personas>
</main>
