@font-face {
  font-family: "nunito-sans";
  src: url(../fonts/NunitoSans_10pt-Regular.ttf) format("truetype");
}

* {
  font-family: "nunito-sans";
}

header {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-evenly;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto {
  padding-top: 1em;
}

@media (max-width: 1024px) {
  main {
    display: flex;
    flex-wrap: wrap;
    
  }
  .libro-negro {
    order: 1;
  }
  .globo {
    width: 100%;
    border: solid 2px black;
    order: 2;
    margin-top: 1em;
  }
  .globo .texto {
    margin-bottom: 1em;
  }

  .libro-negro, .libro-blanco {
    width: 50%;
  }
  
}

@media (max-width: 475px) {
  
  main {
    flex-direction: column;    
  }
  .contenedor {
    width: auto;
  }
  
  .globo {
    order: 1;
    border: unset;
    width: 100%;
    margin:0;    
  }
  .globo .texto {
    
    margin: 0;
  }
  .libro-negro {    
    order: 1;
    background-color: rgb(233, 233, 233);
  }
  .icono {
    padding-top: 1em;
  }
  .texto {
    padding-bottom: 2em;
    
  }
}
