<!-- • Crear un componente nuevo para mostrar los datos de un libro. El componente se llama datos-libro. -->
<!-- ◦ Cambiamos el titulo de datos-libro.component.html. ¿Se ve en nuestra página? -->
<!-- ◦ Incluir la etiqueta del nuevo componente en la página app.component.html -->
<!-- ◦ En el componente nuevo datos-libro.component.ts vamos a crearnos un atributo libro, que será
un objeto literal con los valores: titulo, autor, precio, stock, cantidad e imagen.-->
<!-- ◦ Mostrar todos los datos del libro en datos-libro.component.html en una lista (li) -->
<!-- ◦ En el caso de que el stock fuera cero, aplicar un estilo de color rojo a las unidades disponibles.
Nota: crear .aviso{ color: red; } en la hoja de estilo del componente.
 Probarlo, poniendo dicho valor a 0 en el componente. -->
<!-- ◦ Añadimos dos botones: para añadir y quitar unidades del libro y una etiqueta para ver la cantidad
de unidades del libro. Si pulsamos el botón para quitar una unidad, la cantidad se disminuye en
 CEU Andalucía
9 Belén Tudó Ramírez
Angular. Elementos Básicos Desarrollo Web en Entorno Cliente
una unidad, y si pulsamos el botón para añadir una unidad, la cantidad se aumenta en una
unidad. -->
<!-- ◦ Para evitar que puedan salir números negativos, vamos a poner que el botón que quita unidades
se deshabilite si no hay cantidad disponible. -->
<!-- ◦ Escribir por consola la posición del ratón cuando el puntero pase por encima de la imagen. -->
<!-- ◦ Ahora vamos a permitir modificar el valor de la cantidad de unidades a través de un input.
Sustituimos la etiqueta con las unidades de los libros por un input de tipo text.
Acordaros que hay que tener importado el modulo FormsModule. -->
