* {    
    box-sizing: border-box;       
}

body {
    background-color: rgb(240, 240, 240);
}

.ls-none {
    list-style: none;
}

.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;    
}

.blue {
    background-color: rgb(37, 53, 78);
}

.f-white {
    color: white;
}

.p-1 {
    padding: 1em;
}

li{
    margin-right: 1em;
}

a {
    font-style: none;
    text-decoration: none;
    color: white;
}

.t-250-200 {
    width: 205px;
    height: 200px;
}

.text-center {
    text-align: center;
}

.w-50percent {
    width: 50%;
}

figcaption {
    color: rgb(86, 150, 220);
}

h2 {
    color: rgb(44, 60, 84);
}

form {
    color: white;
}
