<h1 [class]="rojo">Componente Alumno</h1>
<p>{{ nombre }}</p>
<p>{{ apellido }}</p>
<p>{{ edad }}</p>
<p>{{ dni }}</p>
<div>{{ edad * 5 }}</div>
<p>{{ edad > 18 ? "Mayor de edad" : "Menor de edad" }}</p>

<input type="text" #nuevoDni (keyup)="(0)" />
<p>{{ nuevoDni.value }}</p>

<!-- Crear un botón y un input de tipo text. Al pulsar el botón (click),
muestre en el input, el nombre de vuestro compañero. Pista: Crear un método y un
atributo en la clase para guardar el nombre de vuestro compañero.-->
<button (click)="mostrarDos()">Mostrar</button>
<input type="text" value="{{ nombre2 }}" />

<!-- Crear un input de tipo text. Cuando termine de escribir en él, con el evento keyup, mostrará una
etiqueta con lo que haya escrito. Cada vez que lance el evento, los valores se irán concatenando con
una coma. Pista: crear un método asociado al evento keyup y un atributo key para concatenar su
valor al nuevo valor del input. Para acceder a dicho valor: event.target.value-->
<label for="input1">Introduce algo</label>
<input id="input1" type="text" (keyup)="mostrar3($event)" />
<p>{{ key }}</p>

<!-- Crear un checkbox y que cuando lo marque o desmarque avise al componente y muestre en una
etiqueta p de la vista, si está o no marcado.-->
<label for="check1">Haz click</label>
<input id="check1" type="checkbox" />
