* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #171717;
}

#seccion1 {
    background-color: #18181b;
    width: 35em;
    height: 35em;
    border-radius: 0.75em;
    padding: 2em;    
    border: solid 1px #27272a;
    margin: 1em 0 0 1em;
}

p {
    color: greenyellow;
}