* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
fieldset {        
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: rgb(0, 119, 255);    
}

label {    
    
    
    font-weight: bold;
}


