<!-- Abre la plantilla “app.component.html”, borra el contenido y reemplazalo:
<h1>Mi primera aplicación angular</h1>
Ejecutamos ng serve
Lanzamos http://localhost:4200 -->
<h1>Mi primera aplicación angular</h1>

<!-- Le damos estilos a h1, de forma inline, y ponemos el texto en rojo y el texto en negrita -->
<h1 style="color: red; font-weight: bold">Mi primera aplicación angular</h1>

<!-- Duplicar otro mensaje con h1 pero ahora creamos mejor un estilo class=”azul”, con color de la letra
azul. ¿Donde creamos el estilo? (En app.component.css) -->
<h1 class="azul">Mi primera aplicación angular</h1>

<!-- Añadimos en la vista del componente (html), un párrafo con un saludo con vuestro nombre. -->
<p>Hola Juan Gabriel</p>

<!-- Añadimos al html una imagen, la que queramos, ¿dónde debemos guardar la imagen? (En la carpeta public) -->
<img src="glass_spear.svg" alt="Bastón mágico de hielo" />

<!-- Cambiar el icono favicon.ico por otro que queráis para vuestra aplicación. (Esto se hace directamente en index.html) -->

<!-- Vamos al componente “app.component.ts”. La clase AppComponent tiene una propiedad title.
Vamos a cambiarle el nombre de title:
    title: string =” Clase de Angular”. ¿Cambia algo la página?
Para mostrar el valor de una propiedad en la vista usamos {{ propiedad}}. Esto se conoce como binding.
<h2> Título: {{ title}} </h2> -->
<h2>Título: {{ title }}</h2>

<!-- Añadir una propiedad al componente nombre inicializada con vuestro nombre y mostrarla en la
vista del componente con la etiqueta h3. -->
<h3>Mi nombre: {{ nombre }}</h3>

<!-- Vamos a index.html. Aparece la etiqueta:<app-root> . Vamos a cambiarle el nombre: <app-hola>
¿Que pasaría? 
(Dejaría de verse lo realizado en la vista).
¿Qué tendríamos que cambiar para que vuelva a mostrar el componente? Pista: ir al componente.
(Tendríamos que cambiar el nombre al selector en app.component.ts) -->

<!-- Crear en el componente una variable numérica ‘edad’ con el valor 18 (tipo number) y un método
getEdad que devuelva el campo edad. En la vista crear un párrafo que indique el mensaje “es mayor
de edad” o “menor de edad” en función del valor de ‘edad’. -->
<p>{{ getEdad() < 18 ? "Es menor de edad" : "Es mayor de edad" }}</p>
