* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

a {
    text-decoration: none;
}

.body-style {
    background-color: #0E2F44;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.main-style {
    background-color: #0E2F44;
    border: 0.1em solid white;
    border-radius: 0.65em;
}

.aGoogle {
    font-family: 'Open Sans';
    font-style: normal;
}