* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

.flex-row {
    display: flex;
    flex-direction: row;    
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.margin-top-05 {
    margin-top: 0.5em;
}

.margin-left-05 {
    margin-left: 0.5em;
}

.color-fondo-01 {
    background-color: #56121b;
}

.color-fondo-02 {
    background-color: #12561b;
}

.color-fondo-03 {
    background-color: #200424;
}

.full-tamano {
    width: 100%;
    height: 100%;
}

.padding-1em {
    padding: 1em;
}